<h1><%= t('Application_Name') %></h1>

<div class='actions'>
  <%= t('Regist_Label') %>
  <%= link_to t('Regist_Link'), rss_urls_path %>
</div>

<hr>
<table>
  <% @contents.each do |header| %>
  <tr>
    <td>
      <h3><%= link_to header.title, header.link, :class => 'black' %></h3>
      <ul>
        <% header.subContents.each do |entry| %>
        <li>
          <div class='small_font'><%= simple_time(entry.date) %></div>
          <%= link_to entry.title, entry.link %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
<hr>

