<h1><%= t('Application_Name') %></h1>

<div class='actions'>
  <%= t('Regist_Label') %>
  <%= link_to t('Regist_Link'), rss_urls_path %>
</div>

<hr>
<table>
  <% @contents.each do |c| %>
  <tr>
    <td>
      <h3><%= link_to c.title, c.link, :class => 'black' %></h3>
      <ul>
        <% c.subContents.each do |e| %>
        <li>
          <div class='small_font'><%= simple_time(e.date) %></div>
          <%= link_to e.title, e.link %>
        </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
<hr>

