<div class='header'>
  <h1><%= t('Application_Name') %></h1>
</div>

<div class='actions'>
  <%= t('Regist_Label') %>
  <%= link_to t('Regist_Link'), new_rss_url_path %>
</div>

<table>
  <% @rss_urls.sort_by { |item| item.sort_number }.each do |rss_url| %>
  <tr>
   <td>
      <h3>
        <%= link_to encoding_utf8(rss_url.feed.title || rss_url.name), edit_rss_url_path(rss_url), :class => 'black' %>
      </h3>
      <ul>
        <% rss_url.feed.entries.first(rss_url.limit_count).each do |entry| %>
        <li>
          <div class='small_font'><%= simple_time(entry.last_updated || entry.date_published) %></div>
          <div ><%= link_to encoding_utf8(entry.title || '-'), entry.url %></div>
        </li>
        <% end %>
        <div class='actions'>
          <%= link_to t('label.rss_url.destroy'), rss_url, method: :delete, data: { confirm: t('label.rss_url.confirm') } %>
        </div>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
