<h1><%= t('label.rss_url.listing_rss_url') %></h1>

<div class="actions">
  <%= button_to t('label.rss_url.new'), new_rss_url_path, :method => :get, :class => 'button' %>
</div>

<table class='list' >
  <tr>
    <th>
      <%= t('activerecord.attributes.rss_url.Rss_Url_id_seq') %>
    </th>
    <th>
      <%= t('activerecord.attributes.rss_url.Site_Name') %>
    </th>
    <th>
      <%= t('activerecord.attributes.rss_url.Site_Url') %>
    </th>
    <th>
      <%= t('activerecord.attributes.rss_url.Getting_Count') %>
    </th>
    <th></th>
  </tr>

<% @rss_urls.each do |rss_url| %>
  <tr>
    <td><%= rss_url.Rss_Url_id_seq %></td>
    <td><%= rss_url.Site_Name %></td>
    <td><%= rss_url.Site_Url %></td>
    <td><%= rss_url.Getting_Count %></td>
    <td>
      <%= link_to t('label.rss_url.edit'), edit_rss_url_path(rss_url) %> |
      <%= link_to t('label.rss_url.destroy'), rss_url, method: :delete, data: { confirm: t('label.rss_url.confirm') } %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to t('label.rss_url.back'), root_url %>
